{% extends "base.html" %} {% block title %}About Us{% endblock title %} {% block body %}


<div
  class="card"
  style="width: 18rem; background-color: black; color: white; width: 100vw"
>
  <img
    style="height: 450px"
    src="https://www.evcam.com/media/1729/shutterstock_1845687043.jpg?width=1920&quality=90&format=jpg&slimmage=true"
    class="card-img-top"
    alt="..."
  />
  <div
    class="card-body"
    style="position: absolute; text-align:center;  width:100%; margin-top: 23rem"
  >
    <p class="card-text">
      <b>About Us</b>
    </p>
  </div>
</div>







<section id="about-us">
  <div class="container" style="color: white">
    <h2>
      Welcome to
      <span class="highlight" style="color: yellow">Code to Decode</span>
    </h2>
    <p>
      At <strong>Code to Decode</strong>, we believe that coding is more than
      just writing lines of code—it's about unlocking a world of possibilities.
      Whether you're a <strong>beginner</strong> taking your first steps into
      the world of programming or an <strong>experienced coder</strong> looking
      to level up, we've got something for everyone.
    </p>

    <h2>Our Mission</h2>
    <p>
      Our mission is simple: to make
      <strong>learning programming fun, engaging, and accessible</strong>. We
      offer a wide range of courses, from
      <strong>foundational language learning</strong> to solving
      <strong>real-world coding problems <i>FREE of cost !!</i></strong>. Our platform is designed to
      help you build your skills step by step, with
      <strong>interactive challenges</strong> and detailed tutorials that make
      complex concepts easy to understand.
    </p>

    <h2>
      Why <span class="highlight" style="color: yellow">Code to Decode</span>?
    </h2>
    <ul>
      <li>
        <strong>Interactive Learning:</strong> Dive into hands-on coding
        challenges that push your limits and enhance your problem-solving
        skills.
      </li>
      <li>
        <strong>Language Mastery:</strong> Learn popular programming languages
        like <strong>Python, Java, C++,</strong> and more with structured,
        <strong>beginner-friendly content</strong>.
      </li>
      <li>
        <strong>Solving Real-World Problems:</strong> Strengthen your coding
        abilities by working on practical, real-life coding problems.
      </li>
    </ul>

    <h2>Why Choose Us?</h2>
    <p>
      Our goal is to make <b>CODING</b> a real world problem <strong>DECODING</strong> tool, not a
     just writing code . With the right guidance, the right approach, and the right
      mindset, we know you'll succeed. So, are you ready to
      <span class="highlight">decode</span> the world of coding?
      <strong>Let's start this exciting journey together!</strong>
    </p>
  </div>
</section>

{% endblock body %}
